.bcb-heimu {
  background-color: #000;
  color: #000;
  transition: color 0.2s;
  cursor: pointer;
  border-radius: 2px;
  padding: 0 2px;
}

.bcb-heimu:hover {
  color: #fff;
}

.bcb-heimu a {
  color: #000;
}

.bcb-heimu:hover a {
  color: #fff;
}

.bcb-hidden {
  display: none !important;
}